{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>About Bleach</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maxime a optio totam quos qui quaerat ullam
            voluptatum commodi, recusandae nobis nisi vero magnam provident omnis. Qui earum fugiat molestias?</p>
    </div>

    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/img.jpg" alt="">
    </div>

</div>

{{> footer}}